.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: 1fr 1fr 1fr; */
    padding: 10px;
    grid-template-rows: auto;
  }

  .grid-item {
    background-color: rgba(237, 243, 245, 0.8);
    /* border: 0.5px solid gray; */
    padding: 20px;
    text-align: left;
  }
